@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Lobster", sans-serif;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Bilder/pexels-florian-hillmann-266260525-13366358.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  padding: 20px;
}

.established {
  font-family: "Lobster", sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

p {
  font-family: "Inter", sans-serif;
}

.menu {
  width: 80%;
  background-color: rgb(155, 71, 25);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: #d0ab04dc;
  border-color: #d0ab04dc;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  margin: 5px 0;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
  transition: all 0.3s ease-in-out;
}

a:visited {
  color: black;
}

a:hover {
  color: #c4a102b0;
}

a:active {
  color: #d0ab04dc;
}

.visit {
  font-family: "inter", sans-serif;
  font-size: 1rem;
}
