@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
}

:root {
  --primary-color: #e63946;
  --secondary-color: #d62828;
  --text-color: #ddd;
}

.header {
  display: flex;
  flex-direction: column;
}

.hero-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
  display: flex;

  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  font-family: "Lobster", sans-serif;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.hero-action {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 2.5px 60px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 120px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
}

.btn:hover {
  background: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

body {
  line-height: 3rem;
  margin: 0 0 1rem 0;
  background-color: #1a1a1a;
  scroll-behavior: smooth;
}

.nav {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  padding: 1rem 0;
  z-index: 10;
  background-color: black;
  font-family: "inter", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.nav-items {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.1rem;
}

.nav-items:hover {
  color: var(--secondary-color);
}

.heading {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  border-bottom: 1px solid var(--primary-color);
}

.about-text {
  line-height: 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .nav {
    height: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.5rem 3.5rem;
    border-radius: 30;
    font-size: 1.1rem;
  }

  .about-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  .nav {
    height: 3.5rem;
  }

  .heading {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
